<h1>Entrer une nouvelle course</h1>
<form (ngSubmit)="onSubmit()">
  <div>
    Lieu<input type="text" id="location" name="location" required [(ngModel)]="model.location" />
  </div>

  <div>
    Date<ngb-datepicker #dp [(ngModel)]="dateModel" [ngModelOptions]="{standalone: true}" ></ngb-datepicker>
  </div>

  <legend>Choisis des poneys dans la liste suivante :</legend>
  <p-pickList [source]="ponies" [target]="model.ponies" dragdrop="true" [responsive]="true">
    <ng-template let-p pTemplate="ponies">
      <div class="ui-helper-clearfix">
        <div>{{p.name}} - {{p.color}}</div>
      </div>
    </ng-template>
  </p-pickList>

  <button type="submit">Enregistrer</button>
</form>